Decisions.StringFunctions.Steps/obj/Decisions.StringFunctions.Steps.csproj.nuget.dgspec.json
Decisions.StringFunctions.Steps/obj/Decisions.StringFunctions.Steps.csproj.nuget.g.props
Decisions.StringFunctions.Steps/obj/Decisions.StringFunctions.Steps.csproj.nuget.g.targets
