Decisions.StringFunctions.Steps/obj
Decisions.StringFunctions.Steps/obj/Debug/net6.0/ref/Decisions.StringFunctions.Steps.dll
Decisions.StringFunctions.Steps/obj/Debug/net6.0/refint/Decisions.StringFunctions.Steps.dll
Decisions.StringFunctions.Steps/bin/Debug/net6.0/Decisions.StringFunctions.Steps.pdb
